/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body{width:100%;}
h1 {
  text-shadow: 4px 4px 7px rgb(255, 157, 194);
  font-size: 65px;
}

h2 {
	text-decoration: overline; 
	text-align: center;
	font-size: 45px;
	  font-style: italic;
}

p {
	text-align: center;
	font-size: 20px;
}



ul {
    list-style: none;
}

img {
    display: block;
    width: auto;
    height: auto;
    background-color: var(--img-color);
}

label {
    display: block;
    cursor: pointer;
}



input[type="radio"] {
    position: absolute;
    bottom: 0;
    left: -9999px;
}


.container {
	position: absolute;
    padding: 0px 350px;
}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
}

.back{
	background-attachment:fixed;
	background-size:cover;
	background:#A3D1D1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* SLIDESHOW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.featured-wrapper {
    position: relative;
}

.featured-wrapper .featured-list {
    display: grid;
}

.featured-wrapper .featured-list li {
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    transition: opacity 0.25s;
}

.featured-wrapper .arrows label::before,
.featured-wrapper .arrows label::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-color: var(--white);
    opacity: 0.5;
    transition: opacity 0.25s;
}

.featured-wrapper .arrows label::before {
    left: 10px;
}

.featured-wrapper .arrows label::after {
    right: 10px;
}

.featured-wrapper .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.featured-wrapper .dots li:not(:last-child) {
    margin-right: 8px;
}

.featured-wrapper .dots label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--white);
    transition: background 0.25s;
}

.featured-wrapper .dots label:hover {
    background: currentColor;
}


/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	.c1
	{
		position:relative;
		z-index:0;
		background:#EEE9E9;
		margin-left:0px;
		margin-top:0px;
		height:1800px；
	}
	.c2
	{
		position:relative;
		width:800px;
		height:800px;
		z-index:0;
		background:#EEE9E9;
		top:100px;
	}
	.c3
	{
		position:relative;
		width:100%;
		height: 100px;
		margin-top:-100px;
	}
	.c4
	{
		position:relative;
		z-index:0;
		background:#F0F8FF;
		width:1300px;
		height:1000px;
	}
	.c5
	{
		position:relative;
		z-index:0;
		background:#F0F8FF;
		width:1300px;
		height:1900px;
	}
	
	table {
		
		border: 1px solid black;
		
		outline-color: rgb(0, 0, 0);
		outline-width: 1px;
		empty-cells: show;
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;
		width: auto;
		height: auto;

	}
	td {
		border: 1px solid black;
		
		outline-color: rgb(0, 0, 0);
		outline-width: 1px;
		empty-cells: show;
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;
		width: auto;
		height: auto;
	}
	th {
		border: 1px solid black;
		
		outline-color: rgb(0, 0, 0);
		outline-width: 1px;
		empty-cells: show;
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;
		width: auto;
		height: auto;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	
	.s2 {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}

	.s1 {
	  float: left;
	}

	li a {
	  display: inline-block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	li a:hover {
	  background-color: #111;
	}

	.active {
	  background-color: rgba(255, 99, 71, 0.7);
	}
	
	.size{
		width:600px;
		height:400px;
	}
/* Dormitory1 –––––––––––––––––––––––––––––––––––––––––––––––––– */
	.one{position:absolute;border:dotted 3px black;top:170px;left:20px;height:300;width:300px;}
	#pic1{position:absolute;top:300px;left:660px;height:300;width:560px;}
	#pic2{position:absolute;top:300px;left:30px;height:300;width:600px;}
	.t1{position:absolute;top:800px;left:140px;height:300;width:1000px;}
	.i1{position:absolute;top:950px;left:140px;height:300;width:1000px;}
	.h1{position:absolute;top:1200px;left:500px;height:500;width:1000px;}
	.bs1{position:absolute;left:140px;top:1300px;}
	.bs2{position:absolute;left:260.8px;top:1300px;}
	.bs3{position:absolute;left:381.5px;top:1300px;}
	.bs4{position:absolute;left:502.3px;top:1300px;}
	.bs5{position:absolute;left:622.8px;top:1300px;}
	.box1{position:absolute;border:2px solid green;width:1000px; height:400px; left:300; top:1400px;}
	/* Dormitory2 –––––––––––––––––––––––––––––––––––––––––––––––––– */
	#pl1{position:absolute;top:300px;left:660px;height:300;width:625px;}
	#pl2{position:absolute;top:300px;left:30px;height:300;width:600px;}	
	/* Dormitory3–––––––––––––––––––––––––––––––––––––––––––––––––– */
	#d1{position:absolute;top:300px;left:660px;height:450;width:593px;}
	#d2{position:absolute;top:300px;left:30px;height:450;width:610px;}