<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>About us</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body class="back">
	<div class="c2" style="border:2px solid #000; margin:0px auto">
		<div>
			<h2 style="text-align:center; margin-top:25px">About us</h2><br><br>
			<p><a href="/">Home</a>&nbsp;&nbsp;<a href="/about">About</a>&nbsp;&nbsp;<a href="/stat">Stat</a></p>
			<p>
				This project aim to customize the web address provided by the user.
				<br><br>
				The user can change complex web address into short ones which is easy to
				<br><br>
				memerize. Users can also delete the created short links.
				<br><br>
			</p>
			<p>Author: Yang Ruoyu, Yili Yang, Yifei Wang, Mohan Chen, Haihua Liu</p>
			<p><a href="https://github.com/yry0008/linkshorter" target="_blank">Source Code</a></p>
		</div>
</body>

</html>