<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Customize your Address</title>
		<link rel="stylesheet" type="text/css" href="static/style.css" />
	</head>
	<body>
	<div class="c2" style="border:2px solid #000; margin:0px auto">
		<div><h2 style="text-align:center; margin-top:25px">Customize your Address</h2><br><br>
		<form action="update.php" method="post" style="text-align:center; font-size:24px; margin-top:45px">
			Customize： <input type="text" name="customize" value="customize"  onFocus="if(value==defaultValue){value='';this.style.color='#000'}" 
				onBlur="if(!value){value=defaultValue;this.style.color='#BEBEBE'}" style="color:#D3D3D3; height:30px; width:150px"><br><br><!-- input box for personal information-->
			Web Address： <input type="text" name="address" value="address"  onFocus="if(value==defaultValue){value='';this.style.color='#000'}" 
				onBlur="if(!value){value=defaultValue;this.style.color='#BEBEBE'}" style="color:#D3D3D3; height:30px; width:150px"><br><br>
			<input type="submit" value="Submit" style="margin-right:20px; width:70px; height:25px; font-size:18px">
		</form></div>
	</body>
</html>