<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Total Statics</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body class="back">
	<div class="c2" style="border:2px solid #000; margin:0px auto">
		<div>
			<h2 style="text-align:center; margin-top:25px">Stat</h2><br><br>
			<p><a href="/">Home</a>&nbsp;&nbsp;<a href="/about">About</a>&nbsp;&nbsp;<a href="/stat">Stat</a></p>
			<br>
			<br>
			<p>There are {{links_count}} links in this website.</p>
			<br>
			<p>Totally redirect {{process_count}} times.</p>

		</div>
	</div>
</body>

</html>